* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
button:focus,
a:focus,
div:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

body {
  background: url(wallpaper1.jpg);
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
  transition: all 1s;
}

.search {
  transition: all 1s;
  margin-top: 300px;
}

.search.active {
  transform: translateY(-100px);
}

#inputSearchMain {
  padding: 10px;
  width: 450px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
  backdrop-filter: blur(2px);
}

#inputSearchMain:hover {
  padding: 15px;
  width: 490px;
  background-color: rgba(255, 255, 255, 0.395);
  color: black;
  border-radius: 20px;
}

#inputSearchMain.active {
  padding: 15px;
  width: 490px;
  background-color: rgba(255, 255, 255, 0.395);
  color: black;
  border-radius: 20px;
}

/* Hilangkan tombol X di input search */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.shortcutapp {
  display: flex;
  gap: 12px;
  padding: 10px;
  background-color: #00000080;
  border-radius: 20px;
  transition: all 1s ease-in-out;
  margin-top: 35%;
  width: 950px;
  backdrop-filter: blur(1px);
}

.shortcutapp.active {
  opacity: 1;
  transform: translateY(0);
  margin-top: 0;
  width: 450px;
}

.shortcutapp.active img {
    margin-left: 7px;
    transition: all 1s ease-in-out;
}

.shortcutapp img {
  width: 36px;
  height: auto;
  margin-left: 60px;
  transition: all 1s ease-in-out;
}

#youtube img {
  width: 40px;
  margin-top: -4px;
}

#facebook img,
#telegram img {
  width: 30px;
  margin-top: 3px;
}

#button-menu {
  background: #0000004f;
  color: white;
  position: absolute;
  right: 0%;
  border: 1px solid #00000096;
  z-index: 1;
  padding: 7px;
  width: 100px;
}

#button-menu.active {
  border: 1px solid #82828265;
  transition: right ease 0.9s;
}

.menu {
  position: fixed;
  width: 280px;
  height: 450px;
  border: 1px solid rgb(56, 56, 56);
  right: -20%;
  bottom: 2px;
  transition: all 0.7s ease, bottom 0.6s ease;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #00000041;
  backdrop-filter: blur(5px);
  opacity: 0;
}

.menu.active {
  right: 0;
  transition: all 0.7s ease-in-out, bottom 0.8s ease-in-out;
  background-color: #00000041;
  backdrop-filter: blur(5px);
  opacity: 1;
}

ul {
  list-style: none;
}

.setting {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#changeBackground {
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid rgb(92, 92, 92);
  color: white;
  padding: 10px;
  transition: all cubic-bezier(0.22, 0.12, 0.89, 0.62) 0.5s;
}

#changeBackground:hover {
  background-color: #0000003b;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  transition: all cubic-bezier(0.14, 0.66, 1, 1.02) 0.5s;
}

.day_and_clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* atur jarak dari atas sesuai keinginan */
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  justify-self: center;
  top: 5%;
  width: 250px;
  font-size: 30px;
}